<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo de linea:</strong>
  <%= @linea_uv.tipo_de_linea %>
</p>

<p>
  <strong>Caracteristica:</strong>
  <%= @linea_uv.caracteristica %>
</p>

<%= link_to 'Edit', edit_linea_uv_path(@linea_uv) %> |
<%= link_to 'Back', lineas_uv_path %>
