<%= simple_form_for @malla do |f| %>
  <% if malla.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(malla.errors.count, "error") %> prohibited this malla from being saved:</h2>

      <ul>
      <% malla.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :num_malla, id: :malla_num_malla %>
  </div>

  <div class="field">
    <%= f.text_area :caracteristica, id: :malla_caracteristica %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
