  

<h3>   
    Formulario Anidado
</h3> 
<%= simple_nested_form_for @tinta do |f| %>
<%=f.simple_fields_for :formula_tintas do |formu|%>

    <div class="field">
       <%=formu.select :base_tinta,
         BaseTinta.all.map{|r|[r.descripcion_base, r.id]},
         include_blank: 'Seleccione Base'%>
     </div>
     
     <!--  -->
     <div class="field s12">
         
       <%=
       formu.input :cantidad
       %>
       
     </div>
  
     <div class="field">
       <%=
       link_to_remove_association "Eliminar Formula", formu
       %>
     </div>
   </div>
   <%end%>
  
<%end%>