<%= simple_nested_form_for @tinta do |f| %>
  <% if tinta.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tinta.errors.count, "error") %> prohibited this tinta from being saved:</h2>

      <ul>
      <% tinta.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= 
    f.input :cod, 
    id: :tinta_cod 
    %>
  </div>

  <div class="field">
    <%= 
    f.association :linea_uv, 
    label_method: :tipo_de_linea,
    value_method: :id,
    as: :select,
    include_blank: 'Seleccione la Linea del color', 
    wrapper_html: { class: 'm6 s12' }
    %>
  </div>
  
  <div class="field">
    <%= 
    f.input :pantone, 
    id: :tinta_pantone 
    %>
  </div>
  
  <div class="field">
     <%= 
     f.association :malla, 
     label_method: :num_malla,
     value_method: :id,
     as: :select,
     include_blank: 'Mallas',  
     wrapper_html: { class: 'm6 s12' } 
     %>
  </div>
  
  <div class="field">
     <%=
     f.association :producto, 
     collection: Producto.all, 
     label_method: :nombre, 
     value_method: :id, 
     as: :select, 
     include_blank: 'Seleccione Producto'
     %>
   
  </div>

  <div class="field">
    <%= 
    f.input :tipo_de_unidad, 
    id: :tinta_tipo_de_unidad 
    %>
  </div>

  <div class="field">
    <%= 
    f.input :cantida, 
    id: :tinta_cantida 
    %>
  </div>

 <%=f.simple_fields_for :formula_tintas do |formu|%>
   <div>
     <h2>Fomulario para Formulas</h2>
     
     
     <label> Descipcion</label>
     <%=
     formu.text_area :descripcion
     %>
     <!--  -->
     <%=
     formu.input :tinta_base
     %>
     <!--  -->
     <%=
     formu.input :cantidad
     %>
   </div>
   
 <%end%>
 <div>
  
 </div>
  <div class="actions">
   
    <!--%= select_tag 'producto_id', options_for_select(@producto.collect{ |u| [u.nombre, u.id] })%-->
    <%= f.submit %>
  </div>
<% end %>
